body {
  font-family: "Shadows Into Light", cursive;
  background: rgb(211, 240, 240);
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.rounded {
  border-radius: 3%;
  box-shadow: 5px 5px 15px 5px grey;
}

h1 {
  margin-top: 3rem;
  font-size: 3rem;
}

.imgdescription {
  margin-top: 0;
  font-size: 1rem;
}

.content {
  margin-left: 2rem;
}

.source {
  font-size: small;
}
